Sistem rekomendasi content based filtering dengan model klasifikasi random forest
- Teknik label encoding, 
- evaluasi Confussion matrix. 

Inputnya: 
- Usia
- Status Pernikahan
- Jenis Kelamin
- Jumlah Anak
- Jenis Pekerjaan
- Pendapatan/Bulan
- Fasilitas Yang Diinginkan
- Preferensi lingkungan

Output: 
- Nama Perumahan
- Jenis Rumah
- Tipe Rumah

In [37]:
import pandas as pd

# Import Dataset

In [38]:
# Import the data
df = pd.read_csv("../data/raw/Dataset_Konsumen.csv")

# Data Preprocessing

In [39]:
df.head()

,Timestamp,Nama Samaran,Usia,Jenis Kelamin,Status Pernikahan,Jumlah Anak,Jenis Pekerjaan,Pendapatan/Bulan,Nama Perumahan,Jenis Rumah,Tipe Rumah,Apakah ada fasilitas yang membuat Bapak/Ibu tertarik dengan rumah ini?,Apakah Bapak/Ibu memiliki preferensi tertentu terkait dengan lingkungan sekitar rumah?
0,4/18/2024 2:13:19,Ihsan Riandi,32,Laki-laki,Lajang,0,Karyawan,Rp. 2.000.000 - Rp. 5.000.000,Bukit Cibadak Asri,Subsidi,30/60,"CCTV 24 Jam & Security, One Gate System, Jalan...","View Pegunungan, Suasana Sejuk Dan Asri, Dekat..."
1,4/18/2024 2:14:06,Boayy,36,Laki-laki,Sudah Menikah,2,Wiraswasta,Rp. 5.000.000 - Rp. 10.000.000,Bukit Cibadak Asri,Subsidi,30/60,CCTV 24 Jam & Security,View Pegunungan
2,4/18/2024 2:22:13,Selvi,28,Perempuan,Sudah Menikah,1,Karyawan,Rp. 2.000.000 - Rp. 5.000.000,Goalpara Hiills,Subsidi,30/60,"CCTV 24 Jam & Security, One Gate System, Jalan...","View Pegunungan, Suasana Sejuk Dan Asri, Dekat..."
3,4/18/2024 3:01:14,Chenko,33,Laki-laki,Sudah Menikah,2,Karyawan,Rp. 5.000.000 - Rp. 10.000.000,Setiabudi Estate,Komersil,36/72,"CCTV 24 Jam & Security, One Gate System, Jalan...","View Pegunungan, Suasana Sejuk Dan Asri, Dekat..."
4,4/18/2024 10:20:54,Nila,29,Perempuan,Lajang,0,Karyawan,Rp. 5.000.000 - Rp. 10.000.000,Qianna Residence 2,Komersil,30/60,"CCTV 24 Jam & Security, Jalan Utama Yang Lebar...","Suasana Sejuk Dan Asri, Dekat Dengan Pusat Kot..."

In [40]:
df.shape

(272, 13)

In [41]:
df.columns

Index(['Timestamp', 'Nama Samaran', 'Usia', 'Jenis Kelamin',
       'Status Pernikahan', 'Jumlah Anak', 'Jenis Pekerjaan',
       'Pendapatan/Bulan', 'Nama Perumahan', 'Jenis Rumah', 'Tipe Rumah',
       'Apakah ada fasilitas yang membuat Bapak/Ibu tertarik dengan rumah ini?',
       'Apakah Bapak/Ibu memiliki preferensi tertentu terkait dengan lingkungan sekitar rumah?'],
      dtype='object')

In [42]:
# Rename Column Name
df = df.rename(columns={'Apakah ada fasilitas yang membuat Bapak/Ibu tertarik dengan rumah ini?' : 'Fasilitas Yang Diinginkan',
                   'Apakah Bapak/Ibu memiliki preferensi tertentu terkait dengan lingkungan sekitar rumah?': 'Preferensi lingkungan'})

In [43]:
# Drop Kolom ga diperlukan
df.drop('Nama Samaran', axis=1, inplace=True)

In [44]:
for col in df.columns:
    print(f"{col} : {df[col].unique()}")

Timestamp : ['4/18/2024 2:13:19' '4/18/2024 2:14:06' '4/18/2024 2:22:13'
 '4/18/2024 3:01:14' '4/18/2024 10:20:54' '4/18/2024 10:22:49'
 '4/18/2024 10:23:37' '4/18/2024 10:24:22' '4/18/2024 10:25:06'
 '4/18/2024 10:27:35' '4/18/2024 10:28:47' '4/18/2024 10:29:45'
 '4/18/2024 10:31:05' '4/18/2024 10:31:55' '4/18/2024 12:27:11'
 '4/18/2024 12:31:29' '4/18/2024 12:35:45' '4/18/2024 12:38:39'
 '4/18/2024 14:00:59' '4/18/2024 14:02:59' '4/18/2024 14:04:09'
 '4/18/2024 14:05:31' '4/18/2024 14:06:32' '4/18/2024 14:07:35'
 '4/18/2024 14:22:11' '4/18/2024 14:23:50' '4/18/2024 14:24:39'
 '4/18/2024 14:25:27' '4/18/2024 14:28:49' '4/18/2024 14:33:14'
 '4/18/2024 14:34:04' '4/18/2024 14:35:10' '4/18/2024 14:37:40'
 '4/18/2024 14:38:28' '4/18/2024 14:39:33' '4/18/2024 14:41:34'
 '4/18/2024 14:44:32' '4/18/2024 14:57:02' '4/18/2024 14:59:47'
 '4/18/2024 15:01:26' '4/18/2024 15:02:13' '4/18/2024 15:02:54'
 '4/18/2024 15:05:27' '4/18/2024 15:10:03' '4/18/2024 15:10:50'
 '4/18/2024 15:12:42' '4/18/2024 15:13:49' '4/18/2024 15:14:52'
 '4/19/2024 13:50:19' '4/19/2024 13:51:31' '4/19/2024 13:52:29'
 '4/19/2024 13:53:46' '4/19/2024 13:55:09' '4/19/2024 13:55:59'
 '4/19/2024 13:58:18' '4/19/2024 13:59:12' '4/19/2024 14:00:12'
 '4/19/2024 14:01:10' '4/19/2024 15:07:00' '4/19/2024 15:14:36'
 '4/19/2024 15:15:47' '4/19/2024 15:16:50' '4/19/2024 15:19:54'
 '4/19/2024 15:21:13' '4/19/2024 15:25:54' '4/19/2024 15:26:55'
 '4/19/2024 15:33:57' '4/19/2024 15:34:42' '4/19/2024 15:35:33'
 '4/19/2024 15:36:12' '4/19/2024 15:38:49' '4/19/2024 15:39:23'
 '4/19/2024 15:40:04' '4/19/2024 15:40:48' '4/19/2024 15:41:35'
 '4/19/2024 15:44:45' '4/19/2024 15:45:23' '4/19/2024 15:46:34'
 '4/19/2024 15:53:21' '4/19/2024 15:54:27' '4/19/2024 15:55:14'
 '4/19/2024 15:56:06' '4/20/2024 9:49:49' '4/20/2024 9:52:52'
 '4/20/2024 9:54:06' '4/20/2024 9:55:36' '4/20/2024 9:56:53'
 '4/20/2024 9:58:27' '4/20/2024 10:10:50' '4/20/2024 10:19:05'
 '4/20/2024 10:20:40' '4/20/2024 10:22:10' '4/20/2024 10:23:05'
 '4/20/2024 10:24:18' '4/20/2024 10:50:52' '4/20/2024 10:53:39'
 '4/20/2024 10:57:35' '4/20/2024 10:58:31' '4/20/2024 11:00:26'
 '4/20/2024 11:01:09' '4/20/2024 11:01:59' '4/20/2024 11:31:31'
 '4/20/2024 11:34:45' '4/20/2024 11:35:37' '4/20/2024 11:36:28'
 '4/20/2024 11:43:27' '4/20/2024 11:52:20' '4/20/2024 11:55:26'
 '4/20/2024 11:56:50' '4/20/2024 11:58:46' '4/20/2024 11:59:57'
 '4/20/2024 12:00:46' '4/20/2024 12:02:19' '4/20/2024 12:26:21'
 '4/20/2024 12:27:47' '4/20/2024 12:28:55' '4/20/2024 12:30:53'
 '4/20/2024 12:32:23' '4/20/2024 12:34:12' '4/20/2024 12:35:34'
 '4/20/2024 12:37:10' '4/20/2024 12:38:12' '4/20/2024 12:39:10'
 '4/20/2024 12:40:01' '4/20/2024 12:40:58' '4/20/2024 12:41:31'
 '4/20/2024 12:42:16' '4/20/2024 12:42:52' '4/20/2024 12:43:38'
 '4/20/2024 12:44:22' '4/20/2024 12:45:24' '4/20/2024 12:47:31'
 '4/20/2024 12:48:44' '4/20/2024 12:50:35' '4/20/2024 23:03:21'
 '4/21/2024 2:19:06' '4/21/2024 2:22:06' '4/21/2024 2:23:21'
 '4/21/2024 2:24:29' '4/21/2024 2:25:35' '4/21/2024 2:27:06'
 '4/21/2024 2:28:07' '4/21/2024 2:29:27' '4/21/2024 2:30:31'
 '4/21/2024 2:31:26' '4/21/2024 2:32:22' '4/21/2024 2:33:18'
 '4/21/2024 2:34:12' '4/21/2024 2:35:03' '4/21/2024 2:36:17'
 '4/21/2024 2:37:19' '4/21/2024 2:38:15' '4/21/2024 2:39:13'
 '4/21/2024 2:40:14' '4/21/2024 2:41:06' '4/21/2024 2:42:03'
 '4/21/2024 2:42:56' '4/21/2024 2:43:52' '4/21/2024 2:44:39'
 '4/21/2024 2:45:38' '4/21/2024 12:58:58' '4/21/2024 13:01:10'
 '4/21/2024 13:02:19' '4/21/2024 13:03:22' '4/21/2024 13:04:17'
 '4/21/2024 13:05:02' '4/21/2024 13:05:45' '4/21/2024 13:06:42'
 '4/21/2024 13:07:31' '4/21/2024 13:08:29' '4/21/2024 13:10:26'
 '4/21/2024 13:11:09' '4/21/2024 13:12:11' '4/21/2024 13:12:50'
 '4/21/2024 13:13:24' '4/21/2024 13:14:33' '4/21/2024 13:15:33'
 '4/21/2024 13:16:06' '4/21/2024 13:17:53' '4/21/2024 13:18:56'
 '4/21/2024 13:19:47' '4/21/2024 13:20:41' '4/21/2024 13:21:30'
 '4/21/2024 13:22:07' '4/21/2024 13:22:49' '4/21/2024 13:23:25'
 '4/21/2024 13:24:04' '4/21/2024 13:24:39' '4/21/2024 13:25:20'
 '4/21/2024 13:26:00' '4/21/2024 13:26:34' '4/21/2024 13:27:48'
 '4/21/2024 13:28:18' '4/21/2024 13:29:00' '4/21/2024 13:29:47'
 '4/21/2024 14:34:59' '4/21/2024 14:35:51' '4/21/2024 14:36:56'
 '4/21/2024 14:37:52' '4/21/2024 14:38:34' '4/21/2024 14:39:15'
 '4/21/2024 14:39:57' '4/21/2024 14:41:01' '4/21/2024 14:42:01'
 '4/21/2024 14:42:33' '4/21/2024 14:43:12' '4/21/2024 14:43:56'
 '4/21/2024 14:44:55' '4/21/2024 14:45:49' '4/21/2024 14:46:25'
 '4/21/2024 14:47:02' '4/21/2024 14:47:40' '4/21/2024 14:48:30'
 '4/21/2024 14:49:14' '4/21/2024 14:49:56' '4/21/2024 14:50:32'
 '4/21/2024 14:51:14' '4/21/2024 14:51:53' '4/21/2024 14:52:55'
 '4/21/2024 14:53:51' '4/21/2024 14:54:23' '4/21/2024 14:54:53'
 '4/21/2024 14:56:14' '4/21/2024 14:57:52' '4/21/2024 15:03:42'
 '4/21/2024 15:06:27' '4/21/2024 15:07:58' '4/21/2024 15:08:53'
 '4/21/2024 15:09:38' '4/21/2024 15:10:47' '4/21/2024 15:11:41'
 '4/21/2024 15:12:23' '4/21/2024 15:13:00' '4/21/2024 15:13:35'
 '4/21/2024 15:15:01' '4/21/2024 15:15:47' '4/21/2024 15:16:46'
 '4/21/2024 15:17:35' '4/21/2024 15:18:28' '4/21/2024 15:19:20'
 '4/21/2024 15:22:20' '4/21/2024 15:26:55' '4/21/2024 15:27:36'
 '4/21/2024 15:28:12' '4/21/2024 15:28:41' '4/21/2024 15:29:17'
 '4/21/2024 15:29:51' '4/22/2024 10:12:37' '4/22/2024 10:13:39'
 '4/22/2024 10:14:38' '4/22/2024 10:20:27' '4/22/2024 10:21:21'
 '4/22/2024 10:22:04' '4/22/2024 10:23:04' '4/22/2024 10:23:59'
 '4/22/2024 10:25:00' '4/22/2024 10:26:17' '4/22/2024 10:27:18'
 '4/22/2024 10:28:07' '4/22/2024 10:29:09' '4/22/2024 10:29:59'
 '4/22/2024 10:30:51' '4/22/2024 10:31:37' '4/22/2024 10:32:43'
 '4/22/2024 10:33:35' '4/23/2024 12:05:29' '4/23/2024 12:07:09'
 '4/23/2024 12:08:02' '4/23/2024 12:08:52' '4/23/2024 12:09:49'
 '4/23/2024 12:10:42' '4/23/2024 12:11:36']
Usia : [32 36 28 33 29 30 35 40 31 34 39 38 37]
Jenis Kelamin : ['Laki-laki' 'Perempuan']
Status Pernikahan : ['Lajang' 'Sudah Menikah']
Jumlah Anak : [0 2 1 3 4]
Jenis Pekerjaan : ['Karyawan' 'Wiraswasta']
Pendapatan/Bulan : ['Rp. 2.000.000 - Rp. 5.000.000' 'Rp. 5.000.000 - Rp. 10.000.000'
 '> RP. 10.000.000']
Nama Perumahan : ['Bukit Cibadak Asri' 'Goalpara Hiills' 'Setiabudi Estate'
 'Qianna Residence 2' 'Bukit Pinus Banjaran']
Jenis Rumah : ['Subsidi' 'Komersil']
Tipe Rumah : ['30/60' '36/72' '45/84']
Fasilitas Yang Diinginkan : ['CCTV 24 Jam & Security, One Gate System, Jalan Utama Yang Lebar, Jalan Menggunakan Paving Block, Taman Bermain Anak, TK, Masjid'
 'CCTV 24 Jam & Security'
 'CCTV 24 Jam & Security, One Gate System, Jalan Utama Yang Lebar, Jalan Menggunakan Paving Block, TK'
 'CCTV 24 Jam & Security, One Gate System, Jalan Utama Yang Lebar, Jalan Menggunakan Paving Block, Taman Bermain Anak, Masjid, Garden Lounge, Smart Door Lock'
 'CCTV 24 Jam & Security, Jalan Utama Yang Lebar, Jalan Menggunakan Paving Block'
 'CCTV 24 Jam & Security, Taman Bermain Anak, Masjid'
 'CCTV 24 Jam & Security, Jalan Menggunakan Paving Block, TK'
 'Jalan Menggunakan Paving Block, TK, Smart Door Lock'
 'CCTV 24 Jam & Security, One Gate System, Jalan Utama Yang Lebar'
 'Taman Bermain Anak, TK, Masjid'
 'CCTV 24 Jam & Security, Jalan Menggunakan Paving Block, Taman Bermain Anak'
 'Jalan Utama Yang Lebar, Jalan Menggunakan Paving Block, Taman Bermain Anak'
 'CCTV 24 Jam & Security, One Gate System, Jalan Menggunakan Paving Block'
 'CCTV 24 Jam & Security, One Gate System, Jalan Utama Yang Lebar, Jalan Menggunakan Paving Block'
 'CCTV 24 Jam & Security, Jalan Utama Yang Lebar'
 'CCTV 24 Jam & Security, One Gate System, Jalan Utama Yang Lebar, Jalan Menggunakan Paving Block, Garden Lounge, Smart Door Lock'
 'Jalan Menggunakan Paving Block, TK'
 'CCTV 24 Jam & Security, One Gate System, Masjid'
 'Jalan Utama Yang Lebar, Jalan Menggunakan Paving Block, Smart Door Lock'
 'CCTV 24 Jam & Security, One Gate System, Garden Lounge'
 'TK, Masjid, Smart Door Lock'
 'One Gate System, Jalan Utama Yang Lebar, Jalan Menggunakan Paving Block'
 'Garden Lounge, Smart Door Lock, Smart Home System'
 'CCTV 24 Jam & Security, Jalan Menggunakan Paving Block, Masjid'
 'Taman Bermain Anak, Garden Lounge, Smart Door Lock'
 'Jalan Menggunakan Paving Block, Taman Bermain Anak, TK'
 'TK, Masjid, Garden Lounge'
 'Jalan Utama Yang Lebar, Taman Bermain Anak, TK'
 'Masjid, Garden Lounge, Smart Door Lock'
 'One Gate System, Jalan Utama Yang Lebar, Taman Bermain Anak'
 'One Gate System, Jalan Menggunakan Paving Block, TK'
 'Jalan Utama Yang Lebar, Jalan Menggunakan Paving Block, TK'
 'CCTV 24 Jam & Security, One Gate System, Jalan Utama Yang Lebar, Jalan Menggunakan Paving Block, Smart Door Lock, Smart Home System'
 'CCTV 24 Jam & Security, One Gate System, Jalan Utama Yang Lebar, Jalan Menggunakan Paving Block, Taman Bermain Anak, TK, Masjid, Garden Lounge, Smart Door Lock'
 'Jalan Utama Yang Lebar, TK, Smart Home System'
 'CCTV 24 Jam & Security, Jalan Utama Yang Lebar, TK'
 'CCTV 24 Jam & Security, Jalan Utama Yang Lebar, Taman Bermain Anak']
Preferensi lingkungan : ['View Pegunungan, Suasana Sejuk Dan Asri, Dekat Dengan Pusat Kota, Dekat Dengan Exit Tol, Dekat Dengan ATM Center, Dekat Dengan Sarana Pendidikan, Dekat Dengan Sarana Kesehatan, Dekat Dengan Sarana Perbelanjaan, Dekat Dengan Tempat Ibadah, Dekat Dengan Tempat Kuliner, Dekat Dengan Tempat Wisata, Dilalui Dengan Kendaraan Umum, Dilalui Dengan SPBU'
 'View Pegunungan'
 'View Pegunungan, Suasana Sejuk Dan Asri, Dekat Dengan Pusat Kota, Dekat Dengan Exit Tol, Dekat Dengan ATM Center, Dekat Dengan Sarana Pendidikan, Dekat Dengan Sarana Kesehatan, Dekat Dengan Sarana Perbelanjaan, Dekat Dengan Tempat Wisata, Dilalui Dengan SPBU'
 'Suasana Sejuk Dan Asri, Dekat Dengan Pusat Kota, Dekat Dengan ATM Center'
 'Dekat Dengan ATM Center, Dekat Dengan Sarana Perbelanjaan, Dekat Dengan Tempat Ibadah'
 'Dekat Dengan ATM Center, Dekat Dengan Sarana Kesehatan, Dekat Dengan Tempat Kuliner'
 'Dekat Dengan Exit Tol, Dekat Dengan Sarana Pendidikan, Dekat Dengan Sarana Perbelanjaan'
 'View Pegunungan, Suasana Sejuk Dan Asri, Dekat Dengan Exit Tol'
 'Dekat Dengan Tempat Ibadah, Dekat Dengan Tempat Kuliner, Dekat Dengan Tempat Wisata'
 'View Pegunungan, Dekat Dengan ATM Center, Dekat Dengan Tempat Ibadah'
 'Dekat Dengan Pusat Kota, Dekat Dengan Exit Tol, Dekat Dengan Sarana Perbelanjaan'
 'View Pegunungan, Suasana Sejuk Dan Asri, Dekat Dengan Pusat Kota'
 'Suasana Sejuk Dan Asri, Dekat Dengan Pusat Kota, Dekat Dengan Exit Tol, Dekat Dengan Sarana Pendidikan, Dekat Dengan Sarana Perbelanjaan, Dekat Dengan Tempat Wisata'
 'Dekat Dengan Sarana Pendidikan, Dekat Dengan Sarana Perbelanjaan, Dekat Dengan Tempat Wisata'
 'View Pegunungan, Suasana Sejuk Dan Asri, Dekat Dengan Pusat Kota, Dekat Dengan Exit Tol, Dekat Dengan Sarana Pendidikan, Dekat Dengan Sarana Kesehatan, Dekat Dengan Sarana Perbelanjaan, Dekat Dengan Tempat Ibadah'
 'View Pegunungan, Suasana Sejuk Dan Asri, Dekat Dengan Pusat Kota, Dekat Dengan ATM Center, Dekat Dengan Sarana Pendidikan, Dekat Dengan Sarana Kesehatan, Dekat Dengan Sarana Perbelanjaan, Dekat Dengan Tempat Wisata, Dilalui Dengan SPBU'
 'Dekat Dengan Pusat Kota, Dekat Dengan Exit Tol, Dekat Dengan ATM Center'
 'Dekat Dengan Exit Tol, Dekat Dengan Sarana Kesehatan, Dekat Dengan Tempat Kuliner'
 'Dekat Dengan Sarana Pendidikan, Dekat Dengan Sarana Perbelanjaan, Dekat Dengan Tempat Ibadah'
 'Dekat Dengan Pusat Kota, Dekat Dengan ATM Center, Dekat Dengan Tempat Ibadah'
 'View Pegunungan, Suasana Sejuk Dan Asri, Dekat Dengan ATM Center'
 'Dekat Dengan Exit Tol, Dekat Dengan ATM Center, Dekat Dengan Sarana Pendidikan'
 'Dekat Dengan Sarana Pendidikan, Dekat Dengan Sarana Kesehatan, Dekat Dengan Sarana Perbelanjaan'
 'Dekat Dengan Pusat Kota, Dekat Dengan Exit Tol, Dekat Dengan Sarana Pendidikan'
 'Dekat Dengan ATM Center, Dekat Dengan Sarana Pendidikan, Dekat Dengan Sarana Kesehatan'
 'Dekat Dengan Sarana Kesehatan, Dekat Dengan Sarana Perbelanjaan, Dekat Dengan Tempat Ibadah'
 'View Pegunungan, Dekat Dengan Pusat Kota, Dekat Dengan ATM Center'
 'Suasana Sejuk Dan Asri, Dekat Dengan Exit Tol, Dekat Dengan Sarana Pendidikan'
 'Suasana Sejuk Dan Asri, Dekat Dengan ATM Center, Dekat Dengan Sarana Kesehatan'
 'View Pegunungan, Suasana Sejuk Dan Asri, Dekat Dengan Sarana Pendidikan'
 'View Pegunungan, Dekat Dengan Pusat Kota, Dekat Dengan Exit Tol'
 'Dekat Dengan Exit Tol, Dekat Dengan Sarana Kesehatan, Dekat Dengan Tempat Ibadah'
 'Dekat Dengan Sarana Pendidikan, Dekat Dengan Sarana Perbelanjaan, Dekat Dengan Tempat Kuliner'
 'Dekat Dengan ATM Center, Dekat Dengan Sarana Kesehatan, Dekat Dengan Sarana Perbelanjaan'
 'Suasana Sejuk Dan Asri, Dekat Dengan Sarana Pendidikan, Dekat Dengan Sarana Perbelanjaan'
 'Dekat Dengan Pusat Kota, Dekat Dengan ATM Center, Dekat Dengan Sarana Kesehatan'
 'View Pegunungan, Suasana Sejuk Dan Asri, Dekat Dengan Pusat Kota, Dekat Dengan Exit Tol, Dekat Dengan Sarana Pendidikan, Dekat Dengan Sarana Kesehatan, Dekat Dengan Sarana Perbelanjaan, Dekat Dengan Tempat Ibadah, Dekat Dengan Tempat Wisata'
 'View Pegunungan, Suasana Sejuk Dan Asri, Dekat Dengan Exit Tol, Dekat Dengan ATM Center, Dekat Dengan Sarana Pendidikan, Dekat Dengan Sarana Kesehatan, Dekat Dengan Sarana Perbelanjaan, Dekat Dengan Tempat Ibadah, Dekat Dengan Tempat Kuliner, Dilalui Dengan Kendaraan Umum, Dilalui Dengan SPBU'
 'View Pegunungan, Suasana Sejuk Dan Asri, Dekat Dengan Pusat Kota, Dekat Dengan Exit Tol, Dekat Dengan ATM Center, Dekat Dengan Sarana Pendidikan, Dekat Dengan Sarana Kesehatan, Dekat Dengan Sarana Perbelanjaan, Dekat Dengan Tempat Ibadah, Dekat Dengan Tempat Wisata, Dilalui Dengan SPBU'
 'Suasana Sejuk Dan Asri, Dekat Dengan Exit Tol, Dekat Dengan ATM Center, Dekat Dengan Sarana Pendidikan, Dekat Dengan Sarana Kesehatan, Dekat Dengan Sarana Perbelanjaan, Dekat Dengan Tempat Ibadah, Dekat Dengan Tempat Kuliner, Dilalui Dengan SPBU'
 'Dekat Dengan Exit Tol, Dekat Dengan Sarana Kesehatan, Dilalui Dengan Kendaraan Umum'
 'View Pegunungan, Dekat Dengan Exit Tol, Dekat Dengan ATM Center'
 'Dekat Dengan ATM Center, Dekat Dengan Sarana Pendidikan, Dekat Dengan Sarana Perbelanjaan'
 'View Pegunungan, Dekat Dengan Exit Tol, Dekat Dengan Sarana Pendidikan']

In [45]:
df.describe()

             Usia  Jumlah Anak
count  272.000000   272.000000
mean    31.790441     1.003676
std      2.688677     0.962385
min     28.000000     0.000000
25%     30.000000     0.000000
50%     31.000000     1.000000
75%     33.000000     2.000000
max     40.000000     4.000000

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  272 non-null    object
 1   Usia                       272 non-null    int64
 2   Jenis Kelamin              272 non-null    object
 3   Status Pernikahan          272 non-null    object
 4   Jumlah Anak                272 non-null    int64
 5   Jenis Pekerjaan            272 non-null    object
 6   Pendapatan/Bulan           272 non-null    object
 7   Nama Perumahan             272 non-null    object
 8   Jenis Rumah                272 non-null    object
 9   Tipe Rumah                 272 non-null    object
 10  Fasilitas Yang Diinginkan  272 non-null    object
 11  Preferensi lingkungan      272 non-null    object
dtypes: int64(2), object(10)
memory usage: 25.6+ KB

## Checking Any Null data

In [47]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [Timestamp, Usia, Jenis Kelamin, Status Pernikahan, Jumlah Anak, Jenis Pekerjaan, Pendapatan/Bulan, Nama Perumahan, Jenis Rumah, Tipe Rumah, Fasilitas Yang Diinginkan, Preferensi lingkungan]
Index: []

In [48]:
df.isnull().sum().sum()

0

## Split data into X (input), y(target)

In [49]:
X = df[
    [
        "Usia",
        "Status Pernikahan",
        "Jumlah Anak",
        "Pendapatan/Bulan",
        "Fasilitas Yang Diinginkan",
        "Preferensi lingkungan"
    ]
].copy()
y = df[
    [   "Nama Perumahan",
        "Jenis Rumah",
        "Tipe Rumah"
    ]
].copy()

In [50]:
X.head()

,Usia,Status Pernikahan,Jumlah Anak,Pendapatan/Bulan,Fasilitas Yang Diinginkan,Preferensi lingkungan
0,32,Lajang,0,Rp. 2.000.000 - Rp. 5.000.000,"CCTV 24 Jam & Security, One Gate System, Jalan...","View Pegunungan, Suasana Sejuk Dan Asri, Dekat..."
1,36,Sudah Menikah,2,Rp. 5.000.000 - Rp. 10.000.000,CCTV 24 Jam & Security,View Pegunungan
2,28,Sudah Menikah,1,Rp. 2.000.000 - Rp. 5.000.000,"CCTV 24 Jam & Security, One Gate System, Jalan...","View Pegunungan, Suasana Sejuk Dan Asri, Dekat..."
3,33,Sudah Menikah,2,Rp. 5.000.000 - Rp. 10.000.000,"CCTV 24 Jam & Security, One Gate System, Jalan...","View Pegunungan, Suasana Sejuk Dan Asri, Dekat..."
4,29,Lajang,0,Rp. 5.000.000 - Rp. 10.000.000,"CCTV 24 Jam & Security, Jalan Utama Yang Lebar...","Suasana Sejuk Dan Asri, Dekat Dengan Pusat Kot..."

In [51]:
y.head()

       Nama Perumahan Jenis Rumah Tipe Rumah
0  Bukit Cibadak Asri     Subsidi      30/60
1  Bukit Cibadak Asri     Subsidi      30/60
2     Goalpara Hiills     Subsidi      30/60
3    Setiabudi Estate    Komersil      36/72
4  Qianna Residence 2    Komersil      30/60

## Apply Encoder into train data

In [52]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [53]:
# Setup Encoder for Label Column
status_pernikahan_encoder = LabelEncoder()
pendapatan_bulan_encoder = LabelEncoder()


X['Status Pernikahan'] = status_pernikahan_encoder.fit_transform(X['Status Pernikahan'])
X['Pendapatan/Bulan'] = pendapatan_bulan_encoder.fit_transform(X['Pendapatan/Bulan'])

In [54]:
# Check Mapping
print(dict(zip(X['Status Pernikahan'], status_pernikahan_encoder.inverse_transform(X['Status Pernikahan']))))
print(dict(zip(X['Pendapatan/Bulan'], pendapatan_bulan_encoder.inverse_transform(X['Pendapatan/Bulan']))))

{0: 'Lajang', 1: 'Sudah Menikah'}
{1: 'Rp. 2.000.000 - Rp. 5.000.000', 2: 'Rp. 5.000.000 - Rp. 10.000.000', 0: '> RP. 10.000.000'}

### Process the Fasilitas Kolom and Lingkungan Kolom

In [55]:
# Get unique Facilities
unique_fasilitas = set([fasilitas for sublist in X['Fasilitas Yang Diinginkan'].str.split(', ') for fasilitas in sublist])

# Perform like One-Hot Encoding
for facility in unique_fasilitas:
    X[facility] = X['Fasilitas Yang Diinginkan'].str.contains(facility).astype(int)

# Remove old columns
X.drop('Fasilitas Yang Diinginkan', axis=1, inplace=True)

In [59]:
unique_fasilitas

{'CCTV 24 Jam & Security',
 'Garden Lounge',
 'Jalan Menggunakan Paving Block',
 'Jalan Utama Yang Lebar',
 'Masjid',
 'One Gate System',
 'Smart Door Lock',
 'Smart Home System',
 'TK',
 'Taman Bermain Anak'}

In [56]:
# Get unique Lingkungan Preferensi
unique_lingkungan = set([lingkungan for sublist in X['Preferensi lingkungan'].str.split(', ') for lingkungan in sublist])

# Perform like One-Hot Encoding
for lingkungan in unique_lingkungan:
    X[lingkungan] = X['Preferensi lingkungan'].str.contains(lingkungan).astype(int)

# Remove old columns
X.drop('Preferensi lingkungan', axis=1, inplace=True)

In [60]:
unique_lingkungan

{'Dekat Dengan ATM Center',
 'Dekat Dengan Exit Tol',
 'Dekat Dengan Pusat Kota',
 'Dekat Dengan Sarana Kesehatan',
 'Dekat Dengan Sarana Pendidikan',
 'Dekat Dengan Sarana Perbelanjaan',
 'Dekat Dengan Tempat Ibadah',
 'Dekat Dengan Tempat Kuliner',
 'Dekat Dengan Tempat Wisata',
 'Dilalui Dengan Kendaraan Umum',
 'Dilalui Dengan SPBU',
 'Suasana Sejuk Dan Asri',
 'View Pegunungan'}

In [57]:
# Transform Usia into same range value
usia_scaler = StandardScaler()
X['Usia'] = usia_scaler.fit_transform(X[['Usia']])

In [58]:
X.head()

,Usia,Status Pernikahan,Jumlah Anak,Pendapatan/Bulan,Jalan Menggunakan Paving Block,One Gate System,CCTV 24 Jam & Security,Masjid,TK,Smart Door Lock,...,Dekat Dengan Tempat Kuliner,Dekat Dengan ATM Center,Dekat Dengan Exit Tol,Dekat Dengan Sarana Kesehatan,Dilalui Dengan Kendaraan Umum,Dekat Dengan Tempat Wisata,Dekat Dengan Sarana Pendidikan,View Pegunungan,Dekat Dengan Pusat Kota,Dilalui Dengan SPBU
0,0.078085,0,0,1,1,1,1,1,1,0,...,1,1,1,1,1,1,1,1,1,1
1,1.568548,1,2,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,-1.412378,1,1,1,1,1,1,0,1,0,...,0,1,1,1,0,1,1,1,1,1
3,0.450701,1,2,2,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
4,-1.039762,0,0,2,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [61]:
# Save Processed data

X.to_csv('../data/processed/Input.csv', index=False)
y.to_csv('../data/processed/Target.csv', index=False)

## Split data into Train Test Data

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [27]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((217, 27), (55, 27), (217, 3), (55, 3))

# Create Model and Training

In [28]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [29]:
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [30]:
y_pred = model.predict(X_test)

### Sanity Check

In [31]:
y_test[:10]

           Nama Perumahan Jenis Rumah Tipe Rumah
85        Goalpara Hiills     Subsidi      30/60
94        Goalpara Hiills     Subsidi      30/60
95        Goalpara Hiills     Subsidi      30/60
73     Qianna Residence 2    Komersil      30/60
90        Goalpara Hiills     Subsidi      30/60
48     Qianna Residence 2    Komersil      30/60
236  Bukit Pinus Banjaran     Subsidi      30/60
232  Bukit Pinus Banjaran     Subsidi      30/60
212    Bukit Cibadak Asri     Subsidi      30/60
6      Qianna Residence 2    Komersil      30/60

In [32]:
y_pred[:10]

array([['Goalpara Hiills', 'Subsidi', '30/60'],
       ['Goalpara Hiills', 'Subsidi', '30/60'],
       ['Goalpara Hiills', 'Subsidi', '30/60'],
       ['Qianna Residence 2', 'Komersil', '36/72'],
       ['Goalpara Hiills', 'Subsidi', '30/60'],
       ['Qianna Residence 2', 'Komersil', '30/60'],
       ['Bukit Pinus Banjaran', 'Subsidi', '30/60'],
       ['Bukit Pinus Banjaran', 'Subsidi', '30/60'],
       ['Bukit Cibadak Asri', 'Subsidi', '30/60'],
       ['Qianna Residence 2', 'Komersil', '30/60']], dtype=object)

## Evaluate

In [33]:
column_predicted = {1: "Nama Perumahan", 2: "Jenis Rumah", 3: "Tipe Rumah"}

# Compute accuracy for each output separately
for i in range(y_test.shape[1]):
    accuracy = accuracy_score(y_test.iloc[:, i], y_pred[:, i])
    print(f"Accuracy for output {column_predicted[i+1]}: {accuracy:2f}%")

Accuracy for output Nama Perumahan: 0.85%
Accuracy for output Jenis Rumah: 0.93%
Accuracy for output Tipe Rumah: 0.89%

In [34]:
# Compute confusion matrix for each output separately
for i in range(y_test.shape[1]):
    conf_matrix = confusion_matrix(y_test.iloc[:, i], y_pred[:, i])
    print(f"Confusion Matrix for output {i+1}:")
    print(conf_matrix)

Confusion Matrix for output 1:
[[ 8  0  0  3  0]
 [ 0 10  0  3  0]
 [ 0  0 15  0  0]
 [ 0  0  0 12  0]
 [ 0  0  0  2  2]]
Confusion Matrix for output 2:
[[15  1]
 [ 3 36]]
Confusion Matrix for output 3:
[[43  4  0]
 [ 2  5  0]
 [ 0  0  1]]

# Save the Model

In [ ]:
import pickle

In [35]:
with open('../models/model.pkl', 'wb') as f:
    pickle.dump(model, f)

## Save the Encoder

In [36]:
with open('../models/status_pernikahan_encoder.pkl', 'wb') as f:
    pickle.dump(status_pernikahan_encoder, f)
    
with open('../models/pendapatan_bulan_encoder.pkl', 'wb') as f:
    pickle.dump(pendapatan_bulan_encoder, f)

with open('../models/usia_scaler.pkl', 'wb') as f:
    pickle.dump(usia_scaler, f)